<%= form_with(model: pop_channel, local: true) do |form| %>
  <% if pop_channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pop_channel.errors.count, "error") %> prohibited this pop_channel from being saved:</h2>

      <ul>
      <% pop_channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ledger_id %>
    <%= form.number_field :ledger_id %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :poptx %>
    <%= form.text_field :poptx %>
  </div>

  <div class="field">
    <%= form.label :nonce %>
    <%= form.text_field :nonce %>
  </div>

  <div class="field">
    <%= form.label :popchannel_url %>
    <%= form.text_field :popchannel_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
