<p id="notice"><%= notice %></p>

<h1>Pop Channels</h1>

<table>
  <thead>
    <tr>
      <th>Ledger</th>
      <th>Time</th>
      <th>Address</th>
      <th>Poptx</th>
      <th>Nonce</th>
      <th>Popchannel url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pop_channels.each do |pop_channel| %>
      <tr>
        <td><%= pop_channel.ledger_id %></td>
        <td><%= pop_channel.time %></td>
        <td><%= pop_channel.address %></td>
        <td><%= pop_channel.poptx %></td>
        <td><%= pop_channel.nonce %></td>
        <td><%= pop_channel.popchannel_url %></td>
        <td><%= link_to 'Show', pop_channel %></td>
        <td><%= link_to 'Edit', edit_pop_channel_path(pop_channel) %></td>
        <td><%= link_to 'Destroy', pop_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pop Channel', new_pop_channel_path %>
