<p id="notice"><%= notice %></p>

<p>
  <strong>Ledger:</strong>
  <%= @pop_channel.ledger_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @pop_channel.time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pop_channel.address %>
</p>

<p>
  <strong>Poptx:</strong>
  <%= @pop_channel.poptx %>
</p>

<p>
  <strong>Nonce:</strong>
  <%= @pop_channel.nonce %>
</p>

<p>
  <strong>Popchannel url:</strong>
  <%= @pop_channel.popchannel_url %>
</p>

<%= link_to 'Edit', edit_pop_channel_path(@pop_channel) %> |
<%= link_to 'Back', pop_channels_path %>
