<%= form_with(model: ledger, local: true) do |form| %>
  <% if ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ledger.errors.count, "error") %> prohibited this ledger from being¥
 saved:</h2>

      <ul>
      <% ledger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <% account=Account.find(current_user.id) %>
    <%= account.account_name %>
    <%= form.hidden_field :account_id, value: account.id %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= "send" %>
    <%= form.hidden_field :direction, value: "send" %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= account.address%>
    <%= form.hidden_field :from, value: account.address %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">

    <%= form.hidden_field :txid, value: "" %>
  </div>

  <div class="field">

    <%= form.hidden_field :tx, value: "" %>
  </div>

  <div class="actions">
     <%= form.submit("送金", class: 'btn btn-primary') %>
  </div>
<% end %>
