<p id="notice"><%= notice %></p>
<% account=Account.find(current_user.id) %>
<h2>オンチェーント取引一覧</h2>
<h3>アカウント名：<%= account.account_name %></h3>

<%= link_to '送金', new_ledger_path, class: 'btn btn-primary' %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th ></th>
      <th>from</th>
      <th>To</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @Ledgers.each do |ledger| %>
      <tr>
        <td><%= link_to 'PoP開始', pop_sessions_path(ledger) %></td>
	<td><%= ledger.from %></td>
        <td><%= ledger.to %></td>
	<td><%= ledger.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Ledger', new_ledger_path %>
