<p id="notice"><%= notice %></p>
<% account=Account.find(current_user.id) %>
<h1><%= account.account_name %> Ledgers</h1>

<%= link_to '送金', new_ledger_path, class: 'btn btn-primary' %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th ></th>
      <th>To</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @Ledger.each do |ledger| %>
      <tr>
        <td><%= link_to 'PoPセッション', pop_sessions_path(ledger) %></td>
	<td><%= ledger.to %></td>
	<td><%= ledger.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
