<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @ledger.account_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @ledger.direction %>
</p>

<p>
  <strong>From:</strong>
  <%= @ledger.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @ledger.to %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ledger.amount %>
</p>

<p>
  <strong>Txid:</strong>
  <%= @ledger.txid %>
</p>

<p>
  <strong>Tx:</strong>
  <%= @ledger.tx %>
</p>

<%= link_to '送金一覧', ledgers_path, class: 'btn btn-primary' %>
