<p id="notice"><%= notice %></p>

<h1>Pop Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Ledger</th>
      <th>Time</th>
      <th>Address</th>
      <th>Poptx</th>
      <th>Nonce</th>
      <th>Popchannel url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pop_sessions.each do |pop_session| %>
      <tr>
        <td><%= pop_session.ledger_id %></td>
        <td><%= pop_session.time %></td>
        <td><%= pop_session.address %></td>
        <td><%= pop_session.poptx %></td>
        <td><%= pop_session.nonce %></td>
        <td><%= pop_session.popchannel_url %></td>
        <td><%= link_to 'Show', pop_session %></td>
        <td><%= link_to 'Edit', edit_pop_session_path(pop_session) %></td>
        <td><%= link_to 'Destroy', pop_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pop Session', new_pop_session_path %>
