<p id="notice"><%= notice %></p>

<p>
  <strong>Ledger:</strong>
  <%= @pop_session.ledger_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @pop_session.time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pop_session.address %>
</p>

<p>
  <strong>Poptx:</strong>
  <%= @pop_session.poptx %>
</p>

<p>
  <strong>Nonce:</strong>
  <%= @pop_session.nonce %>
</p>

<p>
  <strong>Popchannel url:</strong>
  <%= @pop_session.popchannel_url %>
</p>

<%= link_to 'Edit', edit_pop_session_path(@pop_session) %> |
<%= link_to 'Back', pop_sessions_path %>
