<!DOCTYPE html>
<html>
  <head>
    <title>PopServerAccount</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ここから -->
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <header>
        <nav>
          <% if user_signed_in? %>
          <%= link_to 'パスワード変更', edit_user_registration_path, class: 'btn btn-default' %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
          <% else %>
          <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-default' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-default' %>
          <% end %>
          <%= link_to 'トップ画面', accounts_path, class: 'btn btn-default' %>
        </nav>
      </header>
      <!-- ここまで -->
      <%= yield %>
      <!-- これも -->
    </div>
      <!-- ここまで -->
  </body>
</html>
