<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<%= link_to 'New Account', new_account_path, class: 'btn btn-primary' %>

<table  class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Entity type</th>
      <th>Account name</th>
      <th>Address</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to 'Show', account %></td>
        <td><%= account.entity_type %></td>
        <td><%= account.account_name %></td>
        <td><%= account.address %></td>
        <td><%= account.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
