<p id="notice"><%= notice %></p>
<%= @account_params %>
<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @account.entity_type %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @account.account_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<%= link_to '台帳', ledgers_path(@account), class: 'btn btn-primary' %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
